<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERP - Erro Interno</title>

    <!-- PICO-->
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
  >
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong>ERP</strong></li>
        </ul>

        <ul>
            <li><a th:href="@{/clients}">Clientes</a></li>
        </ul>
    </nav>

    <main class="container">
        <h1>Erro Interno</h1>
        <p>Página não encontrada.</p>
        <a onclick="window.history.back()" href="#">Voltar</a>
    </main>
    
</body>
</html>