<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERP - Remover de cliente</title>

    <!-- PICO-->
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
  >
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong>ERP</strong></li>
        </ul>

        <ul>
            <li><a th:href="@{/clients}">Clientes</a></li>
        </ul>
    </nav>

    <main class="container">
       <h6>Remover de cliente</h6>
        

        <form method="post" th:object="${clientForm}">
            <input type="hidden" name="_method" value="delete"/>
            <p>
                Confirma a remoção <strong th:text="*{name}"></strong>
            </p>
            <button class="secondary" type="submit">Remover</button>
        </form>
        
    </main>
    
</body>
</html>