<html th:replace="~{layout :: layout(~{::title}, ~{::content},_,_)}">
 <th:block th:fragment="title">Remover de cliente</th:block>
 <th:block th:fragment="content">
    <h6>Remover de cliente</h6>
        

        <form method="post" th:object="${clientForm}">
            <input type="hidden" name="_method" value="delete"/>
            <p>
                Confirma a remoção <strong th:text="*{name}"></strong>
            </p>
            <button class="secondary" type="submit">Remover</button>
        </form>
 </th:block>
</html>
