<html th:replace="~{layout :: layout(~{::title}, ~{::content},_,_)}">
 <th:block th:fragment="title">Home</th:block>
 <th:block th:fragment="content">
    <h1>Boas vindas</h1>
        <p>
            Spring Boot
        </p>

        <!-- <div th:replace="~{fragments/_card :: card('Boas vindas', 'Bem vinda a treinaweb')}"></div>
        <div th:replace="~{fragments/_card :: card(title='Teste', content='Boa tard')}"></div>
        <div th:replace="~{fragments/_card :: card(_, 'Bem vinda a treinaweb')}"></div> -->    
 </th:block>
</html>
